.placeSwitchGroup {
  --placeSwitchSearchWidht: 25rem;
  --placeSwitchSearchHeight: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  margin-bottom: 2rem;

  /* stylelint-disable-next-line selector-class-pattern */
  .place__search {
    width: var(--placeSwitchSearchWidht);
    height: var(--placeSwitchSearchHeight);
    
  }
}
